// Commande à exécuter à la racine
// sass --watch scss:css

// Imports de tous les fichiers
@import "./_colors";
@import "./_fonts";
@import "./_responsive_mixins";

html {
	font-size: 62.5%;
	background-color: #fafafa;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

// Réalisation du main
main {
	// Fond animé
	div.backgroundContainer {
		position: absolute;
		width: 100%;
		height: 100vh;
		// background: linear-gradient(0deg, #212a5a, #03a9f4);
		// background-image: url("https://images.unsplash.com/photo-1640173022647-025eaeed4cf4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MjU0MTMzOA&ixlib=rb-1.2.1&q=80&w=1080");
		overflow: hidden;
		background: no-repeat 50% scroll
			url("https://images.unsplash.com/photo-1640173022647-025eaeed4cf4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MjU0MTMzOA&ixlib=rb-1.2.1&q=80&w=1080");
		background-size: cover;
	}
	// Tous les éléments principaux de la page
	div.mainElements {
		position: absolute;
		margin-top: 50vh;
		transform: translateY(-50%);
		text-align: center;
		right: 15%;
		left: 15%;

		h1.pageTitle {
			// font-family, font-size, font-weight, color
			@include font_styles($titles_font, 3rem, bold, $primary_white);
			text-shadow: 0 0 30px $primary_blue, 0 0 10px $primary_blue;
		}
		form.numberGenerator {
			text-align: center;
			margin: 20px auto 0;
			@include media_screen_max(513.98px) {
				display: inline-block;
			}
			div.language {
				margin-right: 15px;
				@include media_screen_max(513.98px) {
					margin: 0;
				}
				// Design des boutons radio
				[type="radio"]:checked,
				[type="radio"]:not(:checked) {
					position: absolute;
					left: -9999px;
				}
				[type="radio"]:checked + label,
				[type="radio"]:not(:checked) + label {
					position: relative;
					padding-left: 28px;
					cursor: pointer;
					display: inline-block;
				}
				[type="radio"]:checked + label:before,
				[type="radio"]:not(:checked) + label:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 18px;
					height: 18px;
					border: 1px solid #ddd;
					border-radius: 100%;
					background: #fff;
				}
				[type="radio"]:checked + label:after,
				[type="radio"]:not(:checked) + label:after {
					content: "";
					width: 12px;
					height: 12px;
					background: $primary_red;
					position: absolute;
					top: 4px;
					left: 4px;
					border-radius: 100%;
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
				}
				[type="radio"]:not(:checked) + label:after {
					opacity: 0;
					-webkit-transform: scale(0);
					transform: scale(0);
				}
				[type="radio"]:checked + label:after {
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
				}

				// Design des boutons checkbox
				[type="checkbox"] {
					position: relative;
					appearance: none;
					padding-left: 28px;
					margin-left: 14px;
					padding-top: 5px;
					cursor: pointer;
					display: inline-block;

					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 18px;
						height: 18px;
						border: 2px solid #ddd;
						border-radius: 4px;
						transition: 0.2s border-color ease;
					}

					&:after {
						content: "";
						position: absolute;
						top: 11px;
						left: 11px;
						width: 12px;
						height: 18px;
						border-radius: 0;
						transform: translate(-50%, -85%) scale(0) rotate(45deg);
						background-color: transparent;
						box-shadow: 4px 4px 0px 0px $primary_red;
						-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
					}

					&:checked:before {
						border-color: $primary_red;
						transition: 0.5s border-color ease;
					}

					&:checked:after {
						animation: toggleOnCheckbox 0.2s ease forwards;
					}
				}

				@keyframes toggleOnCheckbox {
					0% {
						opacity: 0;
						transform: translate(-50%, -85%) scale(0) rotate(45deg);
					}

					70% {
						opacity: 1;
						transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
					}

					100% {
						transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
					}
				}
			}
			div.minAndMaxNumbers {
				margin-left: 15px;
				@include media_screen_max(513.98px) {
					margin: 0;
				}
				input {
					// font-family, font-size, font-weight, color
					@include font_styles($text_font, 1.6rem, normal, $primary_white);
					text-shadow: 0 0 30px $primary_red, 0 0 10px $primary_red;
					width: 100%;
					background: transparent;
					height: 30px;
					border: none;
					border-bottom: 1px solid $primary_red;
					border-bottom-width: medium;
				}
			}
			div.language,
			div.minAndMaxNumbers {
				display: inline-block;
				vertical-align: top;
				text-align: left;
				@include media_screen_max(513.98px) {
					display: unset;
				}
				p {
					// font-family, font-size, font-weight, color
					@include font_styles($text_font, 1.6rem, normal, $primary_white);
				}
				label {
					// font-family, font-size, font-weight, color
					@include font_styles($text_font, 1.6rem, normal, $primary_white);
				}
			}
			button {
				// font-family, font-size, font-weight, color
				@include font_styles($titles_font, 1.8rem, bold, $primary_white);
				background-color: $primary_red;
				border: none;
				text-align: center;
				border-radius: 10px;
				padding: 5px 15px;
				display: block;
				margin: 20px auto 0;
				&:hover {
					background-color: lighten($primary_red, 10%);
					transition: 0.5s background-color;
				}
			}
		}
		div.numberResult {
			text-align: center;

			span.numericNumber {
				// font-family, font-size, font-weight, color
				@include font_styles($text_font, 8rem, bold, $primary_white);
				text-shadow: 0 0 30px $primary_blue, 0 0 10px $primary_blue;
			}
			span.letterNumber {
				// font-family, font-size, font-weight, color
				@include font_styles($text_font, 8rem, bold, $primary_white);
				text-shadow: 0 0 30px $primary_blue, 0 0 10px $primary_blue;
			}
			span.arrow {
				// font-family, font-size, font-weight, color
				@include font_styles($text_font, 8rem, bold, $primary_white);
				text-shadow: 0 0 30px $primary_blue, 0 0 10px $primary_blue;
				margin: 0 20px;
			}
		}
	}
}

// Affichage des checkbox pour sélectionner les nombres coréens
#koreanNumbers,
label[for="koreanNumbers"],
#sinoKoreanNumbers,
label[for="sinoKoreanNumbers"] {
	display: none;
}

#korean:checked ~ #koreanNumbers,
#korean:checked ~ label[for="koreanNumbers"],
#korean:checked ~ #sinoKoreanNumbers,
#korean:checked ~ label[for="sinoKoreanNumbers"] {
	display: unset;
}
