// Commande à exécuter à la racine
// sass --watch scss:css

// Imports de tous les fichiers
@import "./_colors";
@import "./_fonts";
@import "./_responsive_mixins";

html {
	font-size: 62.5%;
	background-color: $primary_white;
}

html,
body {
	overflow: hidden;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

// Header
header {
	// Fondu d'entrée et de sortie
	div.fadeIn {
		-webkit-animation: fadeIn 0.2s linear;
		animation: fadeIn 0.2s linear;
	}
	div.fadeOut {
		-webkit-animation: fadeOut 0.2s linear;
		animation: fadeOut 0.2s linear;
	}
	// Le bouton pour afficher la modal des instructions
	div.buttonInstructions {
		position: absolute;
		z-index: 1;
		button {
			// font-family, font-size, font-weight, color
			@include font_styles($titles_font, 2rem, bold, $primary_white);
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: $primary_red;
			// border: 2px solid $primary_red;
			border: none;
			border-radius: 50px;
			padding: 7px 15px;
			margin: 10px 0 0 10px;

			@include media_screen_max(380px) {
				font-size: 1.5rem;
			}

			&:hover {
				background-color: lighten($primary_red, 10%);
				transition: 0.5s background-color;
			}

			svg.buttonIcon {
				width: 2rem;
				height: 2rem;
				fill: $primary_white;
				margin-right: 0.5em;

				@include media_screen_max(380px) {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
			span {
				margin-top: 3px;
			}
		}
	}

	// La modal
	div.instructionsModal {
		display: none;
		position: fixed;
		z-index: 1;
		// padding-top: 100px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;

		div.modalDialog {
			position: relative;
			width: auto;
			max-width: 950px;
			margin: 30px auto;

			@include media_screen_max(992px) {
				margin: 30px 10px;
			}

			div.modalContent {
				position: relative;
				display: flex;
				flex-direction: column;
				width: 100%;
				pointer-events: auto;
				background-clip: padding-box;
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 8px;
				background-color: $primary_white;

				div.modalHeader {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					padding: 22px 1.5rem 1.5rem;
					border-bottom: 1px solid #e9ecef;
					background: no-repeat 50% scroll
						url("../images/backgrounds/background_modal.jpg");
					background-size: cover;

					h2 {
						// font-family, font-size, font-weight, color
						@include font_styles($titles_font, 4.5rem, bold, $primary_white);
						text-shadow: 0 0 30px $primary_blue, 0 0 10px $primary_blue;

						@include media_screen_max(600px) {
							font-size: 3.5rem;
						}
						@include media_screen_max(380px) {
							font-size: 2.5rem;
						}
					}

					span.closeButton {
						// font-family, font-size, font-weight, color
						@include font_styles($titles_font, 4.5rem, bold, $primary_black);
						float: right;
						line-height: 1;
						opacity: 0.75;
						padding: 13px 1rem 1rem;
						margin: -1rem -1rem -1rem auto;

						@include media_screen_max(600px) {
							font-size: 3.5rem;
						}
						@include media_screen_max(380px) {
							font-size: 2.5rem;
						}
					}

					span.closeButton:hover,
					span.closeButton:focus {
						text-decoration: none;
						cursor: pointer;
						opacity: 1;
					}
				}

				.modalBody {
					position: relative;
					flex: 1 1 auto;
					padding: 1.5rem;
					p {
						// font-family, font-size, font-weight, color
						@include font_styles($text_font, 2rem, normal, $primary_black);
						margin-bottom: 20px;
						@include media_screen_max(600px) {
							font-size: 1.5rem;
						}
						@include media_screen_max(380px) {
							font-size: 1.2rem;
						}

						mark {
							margin: 0 -0.4em;
							padding: 0.1em 0.4em;
							border-radius: 0.8em 0.3em;
							background: transparent;
							background-image: linear-gradient(
								to right,
								rgba(213, 76, 76, 0.1),
								rgba(213, 76, 76, 0.7) 4%,
								rgba(213, 76, 76, 0.3)
							);
							-webkit-box-decoration-break: clone;
							box-decoration-break: clone;
						}
					}

					ol {
						margin: 0 0 0 3.5rem;
						padding: 0;
						display: grid;
						grid-gap: 1.5rem;
						@include media_screen_max(380px) {
							margin: 0 0 0 2rem;
						}
						li {
							// font-family, font-size, font-weight, color
							@include font_styles($text_font, 2rem, normal, $primary_black);
							padding-left: 12px;

							@include media_screen_max(600px) {
								font-size: 1.5rem;
							}
							@include media_screen_max(380px) {
								font-size: 1.2rem;
							}

							&::marker {
								// font-family, font-size, font-weight, color
								@include font_styles(
									$titles_font,
									3rem,
									normal,
									$primary_black
								);
								content: counter(list-item) ".";
								letter-spacing: -5px;

								@include media_screen_max(600px) {
									font-size: 2.5rem;
								}
								@include media_screen_max(380px) {
									font-size: 2rem;
								}
							}
						}
						// Effet de surlignage
						li:before {
							content: "";
							position: absolute;
							left: 21px;
							z-index: 1;
							width: 20px;
							height: 27px;

							margin: 0 -0.4em;
							padding: 0.1em 0.4em;
							border-radius: 15px 5px 15px 12px;
							background: transparent;
							background-image: linear-gradient(
								to right,
								rgba(213, 76, 76, 0.1),
								rgba(213, 76, 76, 0.7) 4%,
								rgba(213, 76, 76, 0.3)
							);
							-webkit-box-decoration-break: clone;
							box-decoration-break: clone;

							@include media_screen_max(600px) {
								margin: -3px -0.4em 0;
								width: 18px;
								height: 24px;
								left: 25px;
							}
							@include media_screen_max(380px) {
								width: 15px;
								height: 22px;
								left: 16px;
							}
						}
					}
				}
			}
		}
	}
}

// Réalisation du main
main {
	// Fond animé
	div.backgroundContainer {
		position: absolute;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		background: no-repeat 50% scroll
			url("../images/backgrounds/background_1.jpg");
		background-size: cover;
		transition: background 0.5s linear;
	}

	// Tous les éléments principaux de la page
	div.mainElements {
		position: absolute;
		margin-top: 50vh;
		transform: translateY(-50%);
		text-align: center;
		right: 15%;
		left: 15%;

		@include media_screen_max(600px) {
			right: unset;
			left: unset;
		}

		h1.pageTitle {
			// font-family, font-size, font-weight, color
			@include font_styles($titles_font, 4.5rem, bold, $primary_white);
			text-shadow: 0 0 30px $primary_blue, 0 0 10px $primary_blue;
			@include media_screen_max(600px) {
				font-size: 3.2rem;
			}
			@include media_screen_max(380px) {
				font-size: 2.5rem;
			}
		}
		form.numberGenerator {
			text-align: center;
			margin: 20px auto 0;
			@include media_screen_max(600px) {
				display: inline-block;
			}
			div.language {
				margin-right: 15px;
				@include media_screen_max(600px) {
					margin: 0;
				}
				// Design des boutons radio
				[type="radio"]:checked,
				[type="radio"]:not(:checked) {
					position: absolute;
					left: -9999px;
				}
				[type="radio"]:checked + label,
				[type="radio"]:not(:checked) + label {
					position: relative;
					padding-left: 28px;
					cursor: pointer;
					display: inline-block;
				}
				[type="radio"]:checked + label:before,
				[type="radio"]:not(:checked) + label:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 18px;
					height: 18px;
					border: 1px solid #ddd;
					border-radius: 100%;
					background: #fff;
				}
				[type="radio"]:checked + label:after,
				[type="radio"]:not(:checked) + label:after {
					content: "";
					width: 12px;
					height: 12px;
					background: $primary_red;
					position: absolute;
					top: 4px;
					left: 4px;
					border-radius: 100%;
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
				}
				[type="radio"]:not(:checked) + label:after {
					opacity: 0;
					-webkit-transform: scale(0);
					transform: scale(0);
				}
				[type="radio"]:checked + label:after {
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
				}

				// Design des boutons checkbox
				[type="checkbox"] {
					position: relative;
					appearance: none;
					padding-left: 28px;
					margin-left: 14px;
					padding-top: 5px;
					cursor: pointer;
					display: inline-block;

					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 18px;
						height: 18px;
						border: 2px solid #ddd;
						border-radius: 4px;
						transition: 0.2s border-color ease;
					}

					&:after {
						content: "";
						position: absolute;
						top: 11px;
						left: 11px;
						width: 12px;
						height: 18px;
						border-radius: 0;
						transform: translate(-50%, -85%) scale(0) rotate(45deg);
						background-color: transparent;
						box-shadow: 4px 4px 0px 0px $primary_red;
						-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
					}

					&:checked:before {
						border-color: $primary_red;
						transition: 0.5s border-color ease;
					}

					&:checked:after {
						animation: toggleOnCheckbox 0.2s ease forwards;
					}
				}
			}
			div.minAndMaxNumbers {
				margin-left: 15px;
				@include media_screen_max(600px) {
					margin: 0;
				}
				input {
					// font-family, font-size, font-weight, color
					@include font_styles($text_font, 2rem, normal, $primary_white);
					text-shadow: 0 0 30px $primary_red, 0 0 10px $primary_red;
					width: 100%;
					background: transparent;
					height: 30px;
					border: none;
					border-bottom: 1px solid $primary_red;
					border-bottom-width: medium;

					@include media_screen_max(380px) {
						font-size: 1.5rem;
					}
				}
			}
			div.language,
			div.minAndMaxNumbers {
				display: inline-block;
				vertical-align: top;
				text-align: left;

				@include media_screen_max(600px) {
					display: unset;
				}
				p {
					// font-family, font-size, font-weight, color
					@include font_styles($text_font, 2rem, normal, $primary_white);

					@include media_screen_max(380px) {
						font-size: 1.5rem;
					}
				}
				label {
					// font-family, font-size, font-weight, color
					@include font_styles($text_font, 2rem, normal, $primary_white);

					@include media_screen_max(380px) {
						font-size: 1.5rem;
					}
				}
			}
			button {
				// font-family, font-size, font-weight, color
				@include font_styles($titles_font, 2.5rem, bold, $primary_white);
				cursor: pointer;
				background-color: $primary_red;
				border: none;
				text-align: center;
				border-radius: 10px;
				padding: 7px 15px 5px;
				display: block;
				margin: 20px auto 0;

				@include media_screen_max(380px) {
					font-size: 1.5rem;
				}

				&:hover {
					background-color: lighten($primary_red, 10%);
					transition: 0.5s background-color;
				}
			}
		}
		div.numberResult {
			text-align: center;
			@include media_screen_max(600px) {
				margin: 0 10px;
			}

			span.numericNumber,
			span.letterNumber {
				// font-family, font-size, font-weight, color
				@include font_styles($text_font, 7rem, bold, $primary_white);
				text-shadow: 0 0 30px $primary_blue, 0 0 10px $primary_blue;
				@include media_screen_max(992px) {
					font-size: 5rem;
				}
				@include media_screen_max(600px) {
					font-size: 3.5rem;
				}
				@include media_screen_max(380px) {
					font-size: 2.5rem;
				}
			}
		}
	}
}

// Footer
footer {
	p {
		// font-family, font-size, font-weight, color
		@include font_styles($text_font, 1.5rem, normal, $primary_white);
		position: absolute;
		text-align: center;
		right: 15%;
		left: 15%;
		bottom: 1%;
	}
}

// Affichage des checkbox pour sélectionner les nombres coréens
#koreanNumbers,
label[for="koreanNumbers"],
#sinoKoreanNumbers,
label[for="sinoKoreanNumbers"] {
	display: none;
}

#korean:checked ~ #koreanNumbers,
#korean:checked ~ label[for="koreanNumbers"],
#korean:checked ~ #sinoKoreanNumbers,
#korean:checked ~ label[for="sinoKoreanNumbers"] {
	display: unset;
}

// Animations fondu
@-webkit-keyframes fadeIn {
	from {
		top: -50px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		top: -50px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: -50px;
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: -50px;
		opacity: 0;
	}
}

// Animation checkbox
@keyframes toggleOnCheckbox {
	0% {
		opacity: 0;
		transform: translate(-50%, -85%) scale(0) rotate(45deg);
	}

	70% {
		opacity: 1;
		transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
	}

	100% {
		transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
	}
}
